CORS_ORIGIN=https://beatsync-server.zney295.id.vn,http://149-118-50-176.sslip.io:9000,http://149.118.50.176:9000,http://localhost:9000
SOCKET_PATH=/socket.io
VITE_SERVER_URL=https://beatsync-server.zney295.id.vn
VITE_SOCKET_PATH=/kittens/socket.io
VITE_BASE_PATH=/kittens/
